<h1>
  <span>{{ languagePack().contactPage.title }}</span>
</h1>
<div class="content">
  <section class="address">
    <h2>{{ languagePack().contactPage.addressSection.title }}</h2>
    <p>{{ languagePack().contactPage.addressSection.address }}</p>
  </section>
  <section class="contact">
    <h2>{{ languagePack().contactPage.contactSection.title }}</h2>
    <p>TREND CRAFT SRL</p>
    <p>CUI 48784760</p>
    <p>{{ languagePack().contactPage.contactSection.reg }}</p>
    <a href="mailto:trendcraft.office@gmail.com" target="_blank"
      >trendcraft.office&#64;gmail.com</a
    >
    <a href="https://wa.me/+40728406315" target="_blank">{{
      languagePack().contactPage.contactSection.tel
    }}</a>
  </section>
  <section class="work-program">
    <h2>{{ languagePack().contactPage.workProgramSection.title }}</h2>
    <div>
      <span>{{ languagePack().contactPage.workProgramSection.text }}</span>
      <span>8:00 am - 17:00 pm</span>
    </div>
  </section>
</div>
