<h1>
  <span>{{ languagePack().aboutUsPage.title }}</span>
</h1>
<div class="content">
  <b>{{ languagePack().aboutUsPage.text1 }}</b>
  <ul>
    <li>{{ languagePack().aboutUsPage.li1 }}</li>
    <li>{{ languagePack().aboutUsPage.li2 }}</li>
    <li>{{ languagePack().aboutUsPage.li3 }}</li>
    <li>{{ languagePack().aboutUsPage.li4 }}</li>
    <li>{{ languagePack().aboutUsPage.li5 }}</li>
    <li>{{ languagePack().aboutUsPage.li6 }}</li>
    <li>{{ languagePack().aboutUsPage.li7 }}</li>
  </ul>
  <p>{{ languagePack().aboutUsPage.text2 }}</p>
</div>
