:host {
  display: flex;
  justify-content: space-between;
  @media (max-width: 801px) {
    flex-direction: column-reverse;
  }
}

.images {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  gap: 0.5rem;
  margin-top: 2rem;
  img {
    height: 210px;
    object-fit: cover;
  }
  .img1 {
    width: 500px;
  }
  .img2 {
    width: 300px;
  }
  .img3 {
    width: 400px;
  }
  @media (max-width: 801px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    img {
      width: 100% !important;
      height: 100px;
    }
  }
}

.hero {
  h1 {
    font-size: 2rem;
    display: block;
    position: relative;
    width: fit-content;
    z-index: 2;
    span::after {
      content: "";
      z-index: -1;
      display: block;
      position: absolute;
      bottom: 1.6rem;
      width: 100%;
      height: 9px;
      rotate: -1deg;
      background: linear-gradient(to right, #fc9143, #cf322d, #4ba680, #5fc738);
      margin-top: 0.5rem;
      @media (max-width: 801px) {
        bottom: 0.5rem;
        height: 7px;
      }
    }
    @media (min-width: 801px) {
      font-size: 5rem;
    }
  }
  p {
    text-wrap: pretty;
    @media (min-width: 801px) {
      width: 75%;
      font-size: 1.2rem;
      margin-left: 3rem;
    }
  }
}

.btn {
  background-color: rgb(36, 36, 36);
  color: white;
  border: 4px solid var(--orange);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  animation: border-rotate 4s linear infinite;
  margin-top: 1rem;
  @media (min-width: 801px) {
    margin-top: 2rem;
    margin-left: 3rem;
  }
}

@keyframes linearGradient {
}

@keyframes border-rotate {
  0% {
    border-color: var(--orange);
  }
  25% {
    border-color: var(--red);
  }
  50% {
    border-color: var(--teal);
  }
  75% {
    border-color: var(--green);
  }
  100% {
    border-color: var(--orange);
  }
}
